@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ecf0f3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

#spinner5 {
  position: relative;
  animation: deform 2s linear infinite;
}

@keyframes deform {
  0% {
    border-radius: 0%;
    transform: rotate(0deg) scale(1);
  }
  50% {
    border-radius: 100%;
    transform: rotate(180deg) scale(0.8);
  }
  100% {
    border-radius: 0%;
    transform: rotate(360deg) scale(1);
  }
}

@layer components {
  .common-btn {
    @apply px-4 py-2 md:px-6 text-primary font-medium rounded-lg bg-btn shadow-3xl cursor-pointer hover:bg-btnHover hover:text-white hover:transition-all hover:duration-500 hover:-translate-y-1;
  }
  .common-btn2 {
    @apply px-4 py-2 sm:py-3 md:px-6 text-base text-white font-medium rounded-lg bg-primary cursor-pointer hover:bg-secondary hover:text-primary hover:transition-all hover:duration-500 hover:-translate-y-1;
  }
}

@layer utilities {
  .go-home {
    @apply absolute top-8 left-8;
  }
  .prev-btn {
    @apply text-center text-primary sm:flex justify-center items-center text-xl sm:text-2xl absolute top-1/2 left-4 -translate-y-1/2 z-30 rounded-full w-8 sm:w-10 md:w-12 h-8 sm:h-10 md:h-12 border-2 border-primary cursor-pointer hover:ring hover:ring-offset-2 duration-500 ring-primary;
  }
  .next-btn {
    @apply text-center text-primary sm:flex justify-center items-center text-xl sm:text-2xl absolute top-1/2 right-4 -translate-y-1/2 z-30 rounded-full w-8 sm:w-10 md:w-12 h-8 sm:h-10 md:h-12 border-2 border-primary cursor-pointer hover:ring hover:ring-offset-2 duration-500 ring-primary;
  }
  .header-container {
    @apply container flex justify-between items-center py-8;
  }
  .menu {
    @apply flex items-center gap-8;
  }
  .desktop-ul {
    @apply flex items-center gap-6;
  }
  .nav-item {
    @apply text-base font-medium text-bodyWhite cursor-pointer;
  }
  .mobile-menu {
    @apply flex z-40 shadow-menu lg:hidden w-screen min-h-screen fixed duration-500 transition-all;
  }
  .menu-head {
    @apply relative z-50 items-start w-64 pl-8 pt-8 shadow-menu bg-[#e9eef1];
  }
  .xicon {
    @apply text-primary text-2xl px-4 py-2 bg-btn hover:bg-btnHover shadow-4xl hover:transition-all hover:duration-500 hover:text-white rounded-full;
  }
  .mobile-nav-item {
    @apply text-base font-medium text-bodyWhite cursor-pointer;
  }
  .mobile-menu-ul {
    @apply flex flex-col pt-4 gap-3;
  }
  .mobile-logo-area {
    @apply flex justify-between items-center pr-2;
  }
  .login-container {
    @apply h-full w-full sm:h-screen sm:w-screen flex flex-col justify-center items-center;
  }
  .login-form {
    @apply px-4 py-3 mx-4 sm:mx-0 sm:px-24 rounded-lg sm:py-6 bg-btn shadow-3xl;
  }
  .form-title {
    @apply text-xl font-semibold text-primary md:text-2xl lg:text-4xl text-center;
  }
  .form-social-flex {
    @apply flex flex-col sm:flex-row gap-4 justify-center items-center py-2;
  }
  .social-github {
    @apply cursor-pointer w-full sm:w-auto px-4 sm:px-8 py-2 lg:py-4 bg-[#3b5998] rounded-md flex gap-2 items-center;
  }
  .social-google {
    @apply cursor-pointer w-full sm:w-auto px-4 sm:px-8 py-2 lg:py-4 shadow-3xl rounded-md flex gap-2 items-center;
  }
  .github-title {
    @apply text-lg sm:text-xl font-semibold text-white;
  }
  .google-title {
    @apply text-lg sm:text-xl font-semibold text-[#555555];
  }
  .form-submit {
    @apply w-full bg-primary border hover:border-primary hover:bg-white hover:text-primary transition-all duration-500 rounded-md  py-2 lg:py-3 text-white cursor-pointer text-lg sm:text-xl;
  }
  .form-label {
    @apply last:text-sm lg:text-lg font-semibold text-primary;
  }
  .form-input {
    @apply w-full shadow-3xl rounded-md h-10 lg:h-12 focus:outline-none focus:border-2 focus:border-primary pl-4;
  }
  .banner-area {
    @apply relative after:absolute after:left-0 after:top-0 after:bottom-0 z-10 after:right-0 after:bg-menu;
  }
  .banner-container {
    @apply container relative z-20 flex flex-col lg:flex-row items-center;
  }
  .banner-content {
    @apply w-full lg:w-1/2 px-8 text-white;
  }
  .banner-title {
    @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold;
  }
  .banner-subtitle {
    @apply text-xl md:text-2xl mt-8;
  }
}
