@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ecf0f3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer components {
  .common-btn {
    @apply px-4 py-2 md:px-6 text-primary font-medium rounded-lg bg-btn shadow-3xl cursor-pointer hover:bg-btnHover hover:text-white hover:transition-all hover:duration-500 hover:-translate-y-1;
  }
  .common-btn2 {
    @apply px-4 py-2 sm:py-3 md:px-6 text-base text-white font-medium rounded-lg bg-primary cursor-pointer hover:bg-secondary hover:text-primary hover:transition-all hover:duration-500 hover:-translate-y-1;
  }
}

@layer utilities {
  .prev-btn {
    @apply text-center text-primary sm:flex justify-center items-center text-xl sm:text-2xl absolute top-1/2 left-4 -translate-y-1/2 z-30 rounded-full w-8 sm:w-10 md:w-12 h-8 sm:h-10 md:h-12 border-2 border-primary cursor-pointer hover:ring hover:ring-offset-2 duration-500 ring-primary;
  }
  .next-btn {
    @apply text-center text-primary sm:flex justify-center items-center text-xl sm:text-2xl absolute top-1/2 right-4 -translate-y-1/2 z-30 rounded-full w-8 sm:w-10 md:w-12 h-8 sm:h-10 md:h-12 border-2 border-primary cursor-pointer hover:ring hover:ring-offset-2 duration-500 ring-primary;
  }
  .header-container {
    @apply container flex justify-between items-center py-8;
  }
  .menu {
    @apply flex items-center gap-8;
  }
  .desktop-ul {
    @apply flex items-center gap-6;
  }
  .nav-item {
    @apply text-base font-medium text-bodyWhite cursor-pointer;
  }
  .mobile-menu {
    @apply flex z-40 shadow-menu lg:hidden w-screen min-h-screen fixed duration-500 transition-all;
  }
  .menu-head {
    @apply relative z-50 items-start w-64 pl-8 pt-8 shadow-menu bg-[#e9eef1];
  }
  .xicon {
    @apply text-primary text-2xl px-4 py-2 bg-btn hover:bg-btnHover shadow-4xl hover:transition-all hover:duration-500 hover:text-white rounded-full;
  }
  .mobile-nav-item {
    @apply text-base font-medium text-bodyWhite cursor-pointer;
  }
  .mobile-menu-ul {
    @apply flex flex-col pt-4 gap-3;
  }
  .mobile-logo-area {
    @apply flex justify-between items-center pr-2;
  }
}
